*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    width: 100%; 
    height: auto; 
    background-image: url('../images/bg2.jpg');
}
ul, li {
    list-style: none;
}
h1{
    text-align: center;
    color: #333;
}
input{
    padding: 15px;
    border-radius: 2rem;
    border: 1px solid #ddd;    
}
input[id="email_id"]{
    width: 70%;
}
select {
    padding: 12px;
    border-radius: 2rem;
}
label{
    color: #777;
}
fieldset{
    padding:0;
    border: none;
}
p.successMessage{
    color: green;
}
.hidden{
    margin:0;
     width: 1px;
    height: 1px;
    position: absolute;
    left: -9999999px;
    overflow: hidden;
} 
.massageWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.massageWrap > p{
    margin:0;
}
.failMessage,
.failMessage2,
.checkmsg{
    color: darkred;
    background-color: rgba(255,0,0,.3);
}
.wrapper {
    width: 30vw;
    min-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addBox{
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.addBox > fieldset,
.addBox > div,
.pwWrap > fieldset{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: none;
}
fieldset.email{
    border: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.addBox > div.pwWrap{
    gap: 10px;
}
.idInput {
    position: relative;
}
.idInput input[type="text"]{
    width: 100%;

}
.idInput button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate( 0%,-50%);
    border-radius: 2rem;
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
}

fieldset.phone{
    display: flex;
    gap: 7px;
}
fieldset.phone input:first-child{
    width: 30%;
}
button#submit,
button#clear {
    border-radius: 2rem;
    padding: 20px;
    border: 1px solid #ddd;
    font-weight: bold;
    margin-top: 40px;
}
button#submit{
    background-color: rgb(190, 237, 255);
}
button#clear {
    margin-top: 10px;
    background-color: rgb(255, 251, 211);
}




